<h1 class="mb-3"><%= I18n.t("views.manager.passengers.title") %></h1>

<%= form_tag manager_passengers_path, method: :get do %>
  <div class="row">
    <div class="col">
      <div class="form-group" style="display: inline-block">
        <%= label_tag(:limit, I18n.t("views.manager.passengers.limit")) %>
        <%= number_field_tag(:limit, params[:limit], class: "form-control") %>
      </div>
      <div class="form-group"  style="display: inline-block">
        <%= submit_tag I18n.t("views.general.search"), class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
<div class="table-responsive">
  <table class="table table-sm table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Email</th>
        <th scope="col" class="text-center">Nº Tickets</th>
      </tr>
    </thead>

    <tbody>
      <% @passengers.each do |passenger| %>
        <tr>
          <td><%= passenger.username %></td>
          <td class="text-center"><%= passenger.email %></td>
          <td class="text-center"><%= passenger.tickets.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
