<h1 class="mb-3">Manage Trips</h1>

<div class="row justify-content-between">
  <div class="col">
    <%= form_tag manager_trips_path, method: :get do %>
      <div class="form-group" style="display: inline-block">
        <%= label_tag(:start_date, "Start Date") %>
        <%= date_field_tag :start_date, params[:start_date], class: "form-control", data: { picker: true } %>
      </div>
      <div class="form-group" style="display: inline-block">
        <%= label_tag(:end_date, "End Date") %>
        <%= date_field_tag :end_date, params[:end_date], class: "form-control", data: { picker: true } %>
      </div>
      <div class="form-group"  style="display: inline-block">
        <button class="btn btn-light has-icon" type="button" onclick="this.form.submit()">
          Search
        </button>
      </div>
    <% end %>
  </div>

  <div class="col d-flex flex-row-reverse bd-highlight">
      <%= button_to "New", new_manager_trip_path, class: "btn btn-primary", method: :get %>
  </div>

  <div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
      <caption>Trips</caption>
      <thead>
        <tr>
          <th scope="col">Departure time</th>
          <th scope="col">Departure point</th>
          <th scope="col">Destination</th>
          <th scope="col">Capacity</th>
          <th scope="col">Price</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @trips.each do |trip| %>
          <tr>
            <td><%= trip.departure_time %></td>
            <td><%= trip.departure_point %></td>
            <td><%= trip.destination %></td>
            <td><%= trip.current_capacity %></td>
            <td><%= number_to_currency(trip.price, :unit => "€") %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @trips %>
