<h1 class="mb-3">Manage Trips</h1>

<div class="row justify-content-between">
  <div class="col">
    <%= form_tag manager_trips_path, method: :get do %>
      <div class="form-group" style="display: inline-block">
        <%= label_tag(:start_date, "Start Date") %>
        <%= date_field_tag :start_date, params[:start_date], class: "form-control", data: { picker: true } %>
      </div>
      <div class="form-group" style="display: inline-block">
        <%= label_tag(:end_date, "End Date") %>
        <%= date_field_tag :end_date, params[:end_date], class: "form-control", data: { picker: true } %>
      </div>
      <div class="form-group"  style="display: inline-block">
        <%= submit_tag "Search", class: "btn btn-primary btn-sm"%>
      </div>
    <% end %>
  </div>

  <div class="col d-flex flex-row-reverse">
    <%= button_to "New Trip", new_manager_trip_path, class: "btn btn-success", method: :get %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-sm table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Departure time</th>
        <th scope="col" class="text-center">Departure point</th>
        <th scope="col" class="text-center">Destination</th>
        <th scope="col" class="text-center">Capacity</th>
        <th scope="col" class="text-center">Price</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @trips.each do |trip| %>
        <tr>
          <td><%= l(trip.departure_time) %></td>
          <td class="text-center"><%= trip.departure_point %></td>
          <td class="text-center"><%= trip.destination %></td>
          <td class="text-center"><%= format_trip_capacity(trip) %></td>
          <td class="text-center"><%= number_to_currency(trip.price, :unit => "€") %></td>
          <td class="text-center">
            <%= button_to "Show", manager_trip_path(trip), class: "btn btn-primary btn-sm"  %>
          </td>
          <td class="text-center">
            <% if trip.departure_time.future? %>
              <%= button_to "Delete", manager_trip_path(trip, page: params[:page]), class: "btn btn-danger btn-sm", method: :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @trips %>
