<div class="row justify-content-center">
  <div class="col-4">
    <h1 class="text-center">New Trip</h1>

    <%= form_with model: @trip, url: manager_trips_path do |f| %>
      <% if @trip.errors.any? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h4 class="alert-heading">There are <%= pluralize(@trip.errors.count, "error") %></h4>
          <hr>
          <ul>
            <% @trip.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :departure_time, class: "form-label"%>
        <%= f.datetime_field :departure_time, class: "form-control" %>
      </div>


      <div class="mb-3">
        <%= f.label :departure_point, class: "form-label"%>
        <%= f.collection_select(:departure_point_id, @places, :id, :name, { prompt: false } , { class: "form-select" }) %>
      </div>

      <div class="mb-3">
        <%= f.label :destination_point, class: "form-label"%>
        <%= f.collection_select(:destination_point_id, @places, :id, :name, { prompt: false } , { class: "form-select" }) %>
      </div>

      <div class="mb-3">
        <%= f.label :capacity, class: "form-label"%>
        <%= f.number_field :capacity, min: 0, step: 0, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :price, class: "form-label"%>
        <%= f.number_field :price, min: 0, step: 0.01, class: "form-control" %>
      </div>


      <%= f.submit 'Create', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
