<h1 class="mb-3">My Tickets</h1>

<div class="table-responsive">
  <table class="table table-sm table-striped table-hover">
    <caption>My Tickets</caption>
    <thead>
      <tr>
        <th scope="col">Departure time</th>
        <th scope="col">Departure point</th>
        <th scope="col">Destination</th>
        <th scope="col">Price</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.trip.departure_time %></td>
          <td><%= ticket.trip.departure_point %></td>
          <td><%= ticket.trip.destination %></td>
          <td><%= number_to_currency(ticket.trip.price, :unit => "€") %></td>
          <td>
            <% if ticket.future_trip? %>
              <%= button_to "Return", user_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @tickets %>
