<h1 class="mb-3">My Tickets</h1>

<div class="table-responsive">
  <table class="table table-sm table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Departure time</th>
        <th scope="col" class="text-center">Departure point</th>
        <th scope="col" class="text-center">Destination</th>
        <th scope="col" class="text-center">Price</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= l(ticket.trip.departure_time) %></td>
          <td class="text-center"><%= ticket.trip.departure_point.name %></td>
          <td class="text-center"><%= ticket.trip.destination_point.name %></td>
          <td class="text-center"><%= number_to_currency(ticket.trip.price, :unit => "€") %></td>
          <td class="text-center">
            <% if ticket.future_trip? %>
              <%= button_to "Return", user_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure? The ticket will be refunded' }, class: "btn btn-danger btn-sm"  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @tickets %>
